/*Css reset*/
/* font-family: 'Chelsea Market', cursive;
font-family: 'Hind Siliguri', sans-serif; 
font-family: 'Akaya Kanadaka', cursive;
font-family: 'Architects Daughter', cursive;
*/

* {
  margin: 0;
  padding: 0;
}

/* CSS VARiables */

:root {
  --navbar-height: 20px;
}

/* NavBar */

#navbar {
  display: flex;
  align-items: center;
}

/* Logo and image */
#logo {
  margin: 20px 40px;
  /* filter: invert(100%); */
}
#logo:hover {
  margin: 20px 40px;
  filter: invert(100%);
}
#logo img {
  margin: 20px 40px;
}

/*List styling*/
#navbar {
  position: relative;
}
#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 20px;
  border-radius: 50px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* HomeSection */

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url("../img/fries.jpg") no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.49;
}

#home h1 {
  color: black;
  text-align: center;
  font-family: "Hind Siliguri", bold;
}
#home p {
  color: black;
  font-size: 1.7rem;
  font-family: "Hind Siliguri", sans-serif;
}
/* Utility classes */

.h-primary {
  font-size: 3.8rem;
  padding: 20px;
}

.btn {
  padding: 8px 15px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Chelsea Market", cursive;
  margin: 20px;
  font-size: 1.6 rem;
  border-radius: 25px;
  cursor: pointer;
}
