/*Css reset*/
/* font-family: 'Chelsea Market', cursive;
font-family: 'Hind Siliguri', sans-serif; 
font-family: 'Akaya Kanadaka', cursive;
font-family: 'Architects Daughter', cursive;
*/

* {
  margin: 0;
  padding: 0;
}

/* CSS VARiables */

:root {
  --navbar-height: 10px;
}

/* NavBar */

#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

/* Logo and image */
#logo {
  margin: 20px 40px;
  /* filter: invert(100%); */
}
#logo:hover {
  margin: 20px 40px;
  filter: invert(100%);
}
#logo img {
  margin: 20px 40px;
}

/*List styling*/

#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 70%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 25px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Hind Siliguri", sans-serif;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* HomeSection */

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 50px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url("../img/fries.jpg") no-repeat center center/cover;
  position: absolute;
  height: 125%;
  width: 100%;
  z-index: -1;
  opacity: 0.49;
  top: 0px;
  left: 0px;
}

#home h1 {
  color: black;
  text-align: center;
  font-family: "Hind Siliguri", bold;
}
#home p {
  color: black;
  font-size: 1.7rem;
  font-family: "Hind Siliguri", sans-serif;
}

/* Services section */
#services {
  margin: 20px;
  display: flex;
  font-family: "Hind Siliguri", sans-serif;
}

#services .box {
  border: 2px solid brown;
  border-radius: 27px;
  margin: 23px 16px;
  padding: 5px 35px;
  background-color: rgb(230, 234, 238);
}

#services .box img {
  height: 50px;
  display: block;
  margin: auto;
}

/* Clients section */
#client-section {
  height: 44px;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img {
  height: 140px;
}
/* Utility classes */

.h-primary {
  font-size: 3.8rem;
  padding: 50px 50px;
  font-family: "Hind Siliguri", bold;
}
.h-secondary {
  font-size: 1.8rem;
  padding: 40px 50px;
  font-family: "Hind Siliguri", bold;
}

.btn {
  padding: 8px 20px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Chelsea Market", cursive;
  margin: 20px;
  font-size: 1.6 rem;
  border-radius: 25px;
  cursor: pointer;
}

.center {
  text-align: center;
}
